<div class="unauthorized-container">
  <div class="content-wrapper">
    <img src="/assets/icons/TUMdex.png" alt="TUMdex Logo" class="logo">
    <h1>403</h1>
    <h2>Unauthorized Access</h2>
    <div class="icon-container">
      <i class="fas fa-lock"></i>
    </div>
    <p>You do not have authorization to access this page.</p>
    <div class="buttons">
      <a routerLink="/" class="home-button">Return Home Page</a>
      <a routerLink="/login" class="login-button">Login</a>
    </div>
  </div>
</div>