$home-primary-color: #003366;
$home-secondary-color: #f0f0f0;
$accent-color: #ff9900;
$home-text-color: #333;
$light-text: #fff;
$primary-color: #e53935;
$secondary-color: #212121;
$background-color: #ffffff;
$text-color: #484848;
$border-color: #e0e0e0;
$hover-color: rgba($primary-color, 0.1);
$success-color: #00a046;
$link-color: #0000ee;

.modal-content{
  position: relative;
    display: contents !important;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
}
.cart-container {
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  max-width: 1000px;
  margin: 20px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  .cart-header {
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
    margin-bottom: 20px;
    h1 {
      font-size: 1.5rem;
      color: #003366;
    }
  }

  .cart-body {
    .empty-cart-message {
      font-size: 1.2rem;
      color: #e53935;
    }

    .empty-selection-message {
      font-size: 1rem;
      color: #ff9900;
    }

    .cart-item {
      height: 180px; /* Görselle diğer içerikleri daha düzenli hale getirmek için biraz yükseltilmiş */
      display: flex;
      align-items: center;
      justify-content: space-between; /* Görseller ve içerik arasındaki boşluğu ayarlama */
      margin-bottom: 20px;
      padding: 15px; /* Kenarlıklardan biraz daha içe çekildi */
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);

      &-image {
        margin-left: 20px;
        flex: 0 0 100px;
        img {
          width: 100px;
          height: 100px;
          object-fit: cover; /* Görselin düzgün bir şekilde sığmasını sağlıyor */
          border-radius: 10px;
        }
      }

      &-info {
        width: 250px;
        flex: 2;
        padding-left: 20px;
        .name{
          display: flex;

        .brand {
          font-size: 1.2rem;
          color: $primary-color;
          
        }

        h3 {
          font-size: 1.2rem;
          color: #003366;
          margin-left: 4px;
        }
      }

        .product-features {
          p {
            font-size: 0.9rem;
            color: #666;
            margin-bottom: 5px;
            margin-left: 4px;
          }
        }
      }
      &-quantity {
        width: 150px;
        margin-right: 100px;

        .quantity-controls {
          display: flex;
          align-items: center;
          margin-top: 10px;

          input {
            width: 60px;
            padding: 5px;
            font-size: 1rem;
            text-align: center;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin: 0 10px;
            &:focus {
              border-color: $accent-color;
              outline: none;
              box-shadow: 0 0 5px rgba(255, 153, 0, 0.5);
            }
          }

          .quantity-remove-item{
            background-color: $home-primary-color;
            color: $primary-color;
            border: none;
            border-radius: 5px;
            padding: 5px;
            cursor: pointer;
            &:hover {
              background-color: darken($home-primary-color, 10%);
            }
          }

          button {
            background-color: $home-primary-color;
            color: $primary-color;
            border: none;
            border-radius: 5px;
            padding: 5px;
            cursor: pointer;
            &:hover {
              background-color: darken($home-primary-color, 10%);
            }
            &:disabled {
              background-color: $primary-color;
              cursor: not-allowed;
            }
          }

          label {
            margin: 0 10px;
            font-size: 1rem;
          }
        }

        .item-price {
          font-size: 1.1rem;
          font-weight: bold;
          color: #003366;
          margin-top: 10px; /* Fiyatın diğer bileşenlerden ayrı olması için boşluk */
        }
      }

      &-actions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .form-check-input {
          width: 18px;
          height: 18px;
          margin-bottom: 10px;
        }

        .remove-item {
          background-color: #e53935;
          margin-right: 10px;
          color: #ffffff;
          border: none;
          padding: 10px;
          border-radius: 5px;
          cursor: pointer;
          font-size: 0.9rem;
          &:hover {
            background-color: darken(#e53935, 10%);
          }
        }
      }
    }
  }

  
}

#cartPriceModal {
  position: fixed;
  top: 20%; /* Sayfanın yukarısından biraz boşluk bırakır */
  right: 30px; /* Sağ kenara sabitlenir */
  width: 300px; /* Genişlik ayarlanabilir */
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 100; /* Diğer elemanların üstünde yer alması için */
  transition: transform 0.3s ease-in-out;
}

#cartPriceModal.active {
  transform: translateY(0); /* Modal görünür olduğunda */
}

.cart-summary {
  display: flex;
  flex-direction: column; /* Elemanları dikey hizalar */
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

#totalSelectedCartPrice {
  font-size: 1.1rem;
  font-weight: bold;
  color: #003366;
  margin-bottom: 20px;
}

#continueButton {
  width: 100%;
  background-color: $success-color;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  transition: background-color 0.3s;
  &:hover {
    background-color: darken(#003366, 10%);
  }
}