@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

// Variables
$home-primary-color: #333333;
$home-secondary-color: #f0f0f0;
$accent-color: #ff9900;
$home-text-color: #333;
$light-text: #fff;
$primary-color: #e53935;
$secondary-color: #212121;
$background-color: #ffffff;
$text-color: #484848;
$border-color: #e0e0e0;
$hover-color: rgba($primary-color, 0.1);
$success-color: #059669;
$link-color: #0000ee;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1200px;
$breakpoint-large: 1400px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background: #11131e;
  padding: 20px 0;
}

.row {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1420px;
  margin: auto;
  display: flex;
  overflow-x: auto;
  gap: 20px;
  //padding: 20px 0;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.container::-webkit-scrollbar {
  height: 8px;
}

.container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.container::-webkit-scrollbar-thumb {
  background: #888;
  //border-radius: 4px;
}

.container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: $home-text-color;
  line-height: 1.6;
}

.hero-carousel {
  position: relative;
  height: 300px;
  background-color: #1e1e1e;

  @media (max-width: $breakpoint-tablet) {
    display: none; // Mobilde carousel'i gizle
  }

  @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-laptop) {
    height: 250px;

    .slide-content {
      .text-content {
        left: 10%;
        
        .slide-title {
          font-size: 2rem;
        }
        
        .slide-description {
          font-size: 1rem;
        }
      }

      .image-content img {
        height: 350px;
      }
    }
  }

  .carousel-container {
    height: 100%;
    position: relative;
  }

  .carousel-slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.8s ease;

    &.active {
      opacity: 1;
    }

    .slide-content {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 5%;

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
      }

      .text-content {
        z-index: 2;
        color: #fff;
        text-align: center;
        position: absolute; // Absolute konumlandırma ile sabitle
        top: 50%; // Yatayda ortala
        left: 15%; // Soldan uzaklık
        transform: translateY(
          -50%
        ); // Dikeyde tam ortalamak için translate kullan
        flex: 1;
        z-index: 1; // Metnin görüntünün üstünde kalmasını sağla

        .slide-title {
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 2.5rem;
          font-weight: bold;
          margin-bottom: 1rem;
        }

        .slide-description {
          font-size: 1.2rem;
          margin-bottom: 2rem;
        }

        .btn-cta {
          padding: 12px 30px;
          background-color: #fcb900;
          color: #000;
          text-decoration: none;
          //border-radius: 5px;
          transition: background-color 0.3s;

          &:hover {
            background-color: #e0a700;
          }
        }
      }

      .image-content {
        position: relative;
        left: 15%;

        img {
          height: 300px;
          object-fit: cover;
          mask-image: linear-gradient(
            to right,
            transparent 0%,
            white 30%,
            white 60%,
            transparent 100%
          );
          -webkit-mask-image: linear-gradient(
            to right,
            transparent 0%,
            white 30%,
            white 60%,
            transparent 100%
          );
          @media (max-width: 1024px) {
            max-height: 350px;
            max-width: 550px;
          }
        }
      }
    }
  }

  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.7);
    }

    &.prev {
      left: 20px;
    }

    &.next {
      right: 20px;
    }

    svg {
      stroke: #fff;
    }
  }

  .carousel-indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;

    span {
      width: 12px;
      height: 12px;
      background-color: #555;
      border-radius: 50%;
      cursor: pointer;

      &.active {
        background-color: #fcb900;
      }
    }
  }
}

.categories {
  position: relative; // Ok butonlarının yerleşimini kolaylaştırır
  background-color: $light-text;
  margin: 2rem;
  padding: 1rem 0;

  .category-header {
    font-family: "Bebas Neue", serif;
    font-size: 2.5rem;
    color: $home-primary-color;
    font-weight: 500;
    margin: 0 auto 0;
    max-width: 1320px;
    position: relative;
    display: flex;
    justify-content: center;

    @media (max-width: $breakpoint-tablet) {
      font-size: 1.1rem;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      top: 35px;
      transform: translateX(-60%);
      width: 100px;
      height: 4px;
      background-image: linear-gradient(
          to bottom,
          rgba(12, 108, 212, 0),
          rgba(35, 41, 50, 0.15) 37%
        ),
        linear-gradient(to bottom, #0066cc, #0066cc);
    }
  }

  .container {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative; // Scroll butonlarını konumlandırmak için

    @media (max-width: $breakpoint-mobile) {
      padding: 10px;
    }

    .scroll-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      color: $light-text;
      border: none;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      z-index: 1;

      svg {
        width: 20px;
        height: 20px;
      }

      &.left {
        left: 10px;
      }

      &.right {
        right: 10px;
      }
    }

    .category-grid {
      width: 1320px;
      margin: 0 55px;
      display: flex;
      gap: 1rem;
      scroll-snap-type: x mandatory;
      overflow-x: auto;
      padding: 20px 0 0 0;
      scroll-behavior: smooth;

      @media (max-width: $breakpoint-tablet) { // 480px ve altı için
        .category-card {
          min-width: 135px !important; // Sabit genişlik
          max-height: 160px !important; // Sabit yükseklik
          
          .category-image {
            height: 50px; // Resim boyutunu küçült
            margin-top: 0px;
            margin: 0 10px 0 10px;
             // Üst boşluğu azalt
            
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

          .category-content {
            padding: 5px; // İç boşluğu azalt
            
            .category-title {
              font-size: 0.8rem; // Yazı boyutunu küçült
              height: auto; // Yüksekliği otomatik ayarla
              // Üst boşluğu azalt
              padding: 0 0 5px; // Alt boşluğu azalt
            }

            
          }
        }
      }

      @media (max-width: $breakpoint-tablet) {
        .category-card {
          min-width: calc(50% - 10px);
          min-height: 250px;
        }
      }
      @media (max-width: $breakpoint-laptop) {
        width: 100%;
        margin: 0; // Tablet ve mobil için margin kaldırıldı
        padding: 10px;
      }

      @media (max-width: $breakpoint-mobile) {
        .category-card {
          min-width: 100%;
          min-height: 160px;
        }
      }
      @media (min-width: $breakpoint-tablet){
        .category-card {
          min-width: calc(33.33% - 10px);
        }
      }

      .category-card {
        cursor: pointer;
        width: 205px;
        //min-height: 300px; // Kartların genişliği sabit olmalı
        background-color: $home-secondary-color;
        //border-radius: 10px;
        overflow: hidden;
        transition: transform 0.3s, box-shadow 0.3s;

        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        }

        .category-image {
          margin-top: 20px;
          height: 100px;
          overflow: hidden;

          @media (max-width: $breakpoint-tablet) {
            margin: 0 10px 0 10px; // Üst boşluğu azalt
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .category-content {
          padding: 20px;
          text-align: center;
          display: flex;
          align-items: center;
          flex-direction: column;
          @media (max-width: $breakpoint-tablet) {
            padding: 5px; // İç boşluğu azalt
        }
      }

        .category-title {
          margin-top: 20px;
          line-height: normal;
          font-size: 0.9rem;
          font-weight: 500;
          color: $text-color;
          margin: 0 auto 0;
          max-width: 1320px;
          padding: 0 0 10px;
          position: relative;
          height: 40px;
        }

        .category-description {
          line-height: normal;
          margin-top: 5px;
          width: 150px;
          height: 50px;
          font-size: 0.75rem;
          //margin-bottom: 15px;
          display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3; // Maksimum 3 satır göster
            overflow: hidden;
        }

        .btn-category {
          display: inline-block;
          padding: 8px 20px;
          background-color: $home-primary-color;
          color: $light-text;
          text-decoration: none;
          //border-radius: 5px;
          transition: background-color 0.3s;

          &:hover {
            background-color: lighten($home-primary-color, 10%);
          }
        }

        
      }
    }
  }
}


.info-cards {
  padding: 50px 0;
  background-color: #f8f9fa;
  font-family: 'Source Sans Pro', sans-serif;

  .container {
    width: 100%;
    max-width: 1320px;
    padding: 0;
  }

  .card-grid {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    @media (max-width: 768px) {
      margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    }
    
  }

  .info-card {
    //width için container ın genişliğinden 90px çıkartıp kalanı 4 e bölmeliyiz
    width: calc((1320px - 90px) / 4);
    background-color: #ffffff;
    border: 1px solid $border-color;

    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }

    .card-grid {
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
  
      .info-card {
        @media (max-width: $breakpoint-mobile) {
          width: 100%;
        }
  
        @media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
          width: calc(50% - 10px);
        }
  
        @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-laptop) {
          width: calc(50% - 10px);
        }
  
        @media (min-width: $breakpoint-laptop) {
          width: calc((100% - 60px) / 4);
        }
      }
    }

    .card-image {
      height: 200px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .card-content {
      padding: 20px;
      position: relative; // Eklendi
    }

    .card-title {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 20px; // Margin'i arttırdık
      color: #333;
      position: relative; // Eklendi
      display: inline-block; // Eklendi
      padding-bottom: 10px; // Eklendi

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50px; // Çizgi genişliğini ayarlayabilirsiniz
        height: 4px;
        background-image: linear-gradient(
            to bottom,
            rgba(12, 108, 212, 0),
            rgba(35, 41, 50, 0.15) 37%
          ),
          linear-gradient(to bottom, #0066cc, #0066cc);
      }
    }
  }

  .card-description {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.9rem;
    color: #666;
    line-height: 1.5;
  }
}

// Dark mode için gerekli değişiklikler

@media (prefers-color-scheme: dark) {
  // Hero Carousel
  .hero-carousel {
    background-color: $home-primary-color;

    .carousel-slide {
      .slide-content {
        .overlay {
          background: rgba(0, 0, 0, 0.6); // Daha koyu overlay
        }

        .text-content {
          .btn-cta {
            background-color: $primary-color;
            color: $light-text;

            &:hover {
              background-color: darken($primary-color, 10%);
            }
          }
        }
      }
    }

    .carousel-control {
      background-color: rgba($light-text, 0.1);
      
      &:hover {
        background-color: rgba($light-text, 0.2);
      }

      svg {
        stroke: $light-text;
      }
    }

    .carousel-indicators {
      span {
        background-color: rgba($light-text, 0.3);

        &.active {
          background-color: $primary-color;
        }
      }
    }
  }

  // Categories Section
  .categories {
    background-color: $home-primary-color;

    .category-header {
      color: $light-text;
      margin-top: 15px;

      &::after {
        background-image: linear-gradient(
          to bottom,
          rgba($primary-color, 0),
          rgba($primary-color, 0.15) 37%
        ),
        linear-gradient(to bottom, $primary-color, $primary-color);
      }
    }

    .category-grid {
      .category-card {
        background-color: lighten($home-primary-color, 5%);
        border: 1px solid rgba($light-text, 0.1);

        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        }

        .category-title {
          color: $light-text;
        }

        .category-description {
          color: rgba($home-primary-color, 0.7);
        }

        .btn-category {
          background-color: $primary-color;
          color: $light-text;

          &:hover {
            background-color: darken($primary-color, 10%);
          }
        }
      }
    }

    .scroll-btn {
      background-color: rgba($light-text, 0.1);
      color: $light-text;

      &:hover {
        background-color: rgba($light-text, 0.2);
      }
    }
  }

  // Info Cards Section
  .info-cards {
    background-color: $home-primary-color;

    .info-card {
      background-color: lighten($home-primary-color, 5%);
      border-color: rgba($light-text, 0.1);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
      }

      .card-title {
        color: $light-text;

        &::after {
          background-image: linear-gradient(
            to bottom,
            rgba($primary-color, 0),
            rgba($primary-color, 0.15) 37%
          ),
          linear-gradient(to bottom, $primary-color, $primary-color);
        }
      }

      .card-description {
        color: rgba($light-text, 0.7);
      }
    }
  }
}