<div class="product-card" 
         [class.grid-view]="gridView"
         [routerLink]="['/product', product.id]">
      <div class="product-image">
        <img [src]="product.showcaseImage?.url || 'assets/default-product-image.jpg'" 
             [alt]="product.name">
        <button class="heart-icon" 
                [class.liked]="product.isLiked" 
                (click)="onLikeClick($event)">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#c6c6c6" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                  <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1"/>
                </svg>
        </button>
      </div>

      <div class="product-info">
        <div class="name-title">
          <div class="brand-name">{{product.brandName}}</div>
          <div class="product-name">{{product.name}}</div>
        </div>
        <p class="product-title">{{product.title}}</p>
        <p class="product-price">{{formatCurrency(product.price)}}</p>
        <p class="product-features">
          <ng-container *ngFor="let feature of product.productFeatureValues; let last = last">
            {{feature.featureValueName}}{{!last ? ', ' : ''}}
          </ng-container>
        </p>
      </div>

      <button class="product-add-to-cart-button" 
              [disabled]="product.stock <= 0"
              (click)="onAddToCart($event)">
        {{product.stock > 0 ? 'Add to Cart' : 'Out of Stock'}}
      </button>
    </div>