.category-update-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  h2 {
    color: #333;
    margin-bottom: 2rem;
    font-weight: 500;
  }

  form {
    margin-top: 20px;
    display: grid;
    gap: 1.5rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .full-width {
      grid-column: 1 / -1;
    }
  }

  mat-form-field {
    width: 100%;
  }

  .category-image {
    margin-right: 30px;
    width: 300px;
    margin-left: 50px;
    
  }

}

// Kolkov Editor için stil
::ng-deep {
  .angular-editor-textarea {
    min-height: 200px !important;
  }
}