.category-card {
    margin: 20px;
    width: max-content;
  }
  
  .category-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .form-row {
    margin-bottom: 15px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .category-tree {
    margin: 15px 0;
  }
  
  .form-actions {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .features-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }
  
  .feature-item {
    min-width: 0;
  }

  .category-update-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; /* Padding'i sadece container'a uyguluyoruz */
  }