<div class="category-update-container">
  <mat-card class="category-card">
    <mat-card-header>
      <mat-card-title>Kategori Güncelle</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" class="category-form">
        <div class="form-row">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Kategori Adı</mat-label>
            <input matInput formControlName="name" placeholder="Kategori Adı">
            <mat-error *ngIf="categoryForm.get('name').hasError('required')">
              Kategori adı zorunludur
            </mat-error>
          </mat-form-field>
        </div>

        <div class="image-upload-container">
          <img *ngIf="currentImageUrl && !selectedImageUrl" [src]="currentImageUrl" alt="Current Category Image" class="category-image">
          <img *ngIf="selectedImageUrl" [src]="selectedImageUrl" alt="Selected Category Image" class="category-image">
          <input type="file" (change)="onFileSelected($event)" accept="image/*">
        </div>
        
        <div class="form-row">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Üst Kategori Seçimi</mat-label>
            <input type="text" matInput [formControl]="parentCategoryIdControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let category of filteredParentCategories | async" [value]="category.name"
                (onSelectionChange)="selectParentCategory(category)">
                {{category.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="form-row">
          <h3>Özellik Ekle-Çıkart</h3>
          <div class="features-grid">
            <div *ngFor="let feature of features" class="feature-item">
              <mat-checkbox [checked]="categoryForm.value.features.includes(feature.id)"
                (change)="onFeatureToggle(feature.id, $event.checked)">
                {{ feature.name }}
              </mat-checkbox>
            </div>
          </div>
        </div>

        <div class="form-actions">
          <button mat-raised-button color="primary" type="submit" [disabled]="categoryForm.invalid">Güncelle</button>
          <button mat-button type="button" (click)="categoryForm.reset()">Temizle</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>