<header class="main-header">
  <div class="container">
    <div class="header-content">
      <div class="logo">
        <img src="assets/homecard/4.png" alt="tutrat Logo" class="logo-image">
        <div class="logo-text">
          <span class="logo-subtext" translate="yes">For All Industrial Products</span>
        </div>
      </div>

      <div class="user-actions">
        <ng-container *ngIf="authService.isAuthenticated; else authButtons">
          <!-- My Account Dropdown -->
          <div class="dropdown">
            <button #accountButton class="btn btn-account" (click)="toggleDropdown()">
              <i class="fas fa-user"></i> My Account <i class="fas fa-caret-down"></i>
            </button>
            <ul [class.show]="isDropdownVisible" class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/order"><i class="fas fa-box"></i> My Orders</a></li>
              <li><a class="dropdown-item" routerLink="/profile"><i class="fas fa-user-circle"></i> User Info</a></li>
              <li><a class="dropdown-item" routerLink="/favorites"><i class="fas fa-heart"></i> My Favorites</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" (click)="signOut()"><i class="fas fa-sign-out-alt"></i> Exit</a></li>
            </ul>
          </div>

          <button class="btn btn-cart" (click)="loadComponent()" data-bs-toggle="modal" data-bs-target="#cartModal" [attr.data-count]="cartItems?.length || 0">
            <i class="fas fa-shopping-cart"></i>
            <span class="btn-text">Basket</span>
          </button>

          <button *ngIf="authService.isAuthenticated && authService.isAdmin" class="btn btn-admin">
            <a (click)="navigateToAdmin()" class="nav-link">
              <i class="fas fa-cog"></i>
              <span>Admin</span>
            </a>
          </button>
        </ng-container>

        <ng-template #authButtons>
          <div class="auth-buttons">
            <a (click)="navigateToLogin()" class="btn btn-login">
              <i class="fas fa-user-check"></i>
              <span class="btn-text">Sign In</span>
            </a>
            <a (click)="navigateToRegister()" class="btn btn-register">
              <i class="fas fa-user-plus"></i>
              <span class="btn-text">Register</span>
            </a>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</header>
  
  <!-- Modal for cart -->
  <div class="modal-wrapper">
    <div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <ng-template appDynamicLoadComponent></ng-template>
      </div>
    </div>
  </div>
  
  <ngx-spinner name="s1" type="ball-spin-clockwise-fade"></ngx-spinner>

  <div class="modal-wrapper">
    <div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <ng-template appDynamicLoadComponent></ng-template>
        </div>
    </div>
    <div class="modal fade" id="cartPriceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <ng-template appDynamicLoadComponent></ng-template>
        </div>
    </div>
</div>