<header class="main-header">
  <div class="container">
    <div class="header-content">
      <div class="logo">
        <img src="assets/homecard/4.png" alt="tutrat Logo" class="logo-image">
        <div class="logo-text">
          <span class="logo-subtext" translate="yes">For All Industrial Products</span>
        </div>
      </div>

      <div class="user-actions d-none d-lg-flex">
        <ng-container *ngIf="authService.isAuthenticated; else authButtons">

          <button class="btn btn-account" (click)="toggleSidebar()" *ngIf="!isMobile">
            <i class="fas fa-user"></i>
            <ng-container *ngIf="!isLoading && authService.isAuthenticated">
              {{ currentUser?.userName | uppercase }}
            </ng-container>
            <ng-container *ngIf="!isLoading && !authService.isAuthenticated">
              Hesabım
            </ng-container>
          </button>

          <!-- Cart Button -->
          <button class="btn btn-cart" [class.has-items]="cartItems?.length > 0" (click)="toggleCart()">
            <i class="fas fa-shopping-cart"></i>
            <span class="btn-text">Cart</span>
            <span class="position-absolute start-200 badge rounded-pill bg-danger" *ngIf="cartItems?.length > 0">
              {{ cartItems.length }}
            </span>
          </button>

          <!-- Admin Button -->
          <button *ngIf="authService.isAuthenticated && authService.isAdmin" class="btn btn-admin">
            <a (click)="navigateToAdmin()" class="nav-link">
              <i class="fas fa-cog"></i>
              <span>Admin</span>
            </a>
          </button>
        </ng-container>

        <ng-template #authButtons>
          <div class="auth-buttons">
            <a (click)="navigateToLogin()" class="btn btn-login">
              <i class="fas fa-user-check"></i>
              <span class="btn-text">Sign In</span>
            </a>
            <a (click)="navigateToRegister()" class="btn btn-register">
              <i class="fas fa-user-plus"></i>
              <span class="btn-text">Register</span>
            </a>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</header>

<!-- Cart Component -->
<app-user-sidebar [isOpen]="isSidebarOpen" (closeSidebar)="closeSidebar()">
</app-user-sidebar>
<app-cart *ngIf="isCartOpen" [isOpen]="isCartOpen" (closeCart)="toggleCart()"></app-cart>

<ngx-spinner name="s1" type="ball-spin-clockwise-fade"></ngx-spinner>