<div class="container mt-5">
    <div class="row mb-4">
      <div class="col-md-12 text-center">
        <h1 class="page-title">Product List</h1>
        <p class="page-description">Search and manage your products easily</p>
      </div>
    </div>
  
    <div class="row mb-4">
      <div class="col-md-12">
        <div class="search-and-table-container">
          <form [formGroup]="searchForm" (ngSubmit)="searchProduct()">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Ürün Ara...</mat-label>
              <input matInput formControlName="nameSearch" (input)="searchProduct()">
              <button mat-raised-button class="search-button" type="submit">Ara</button>
            </mat-form-field>
          </form>
  
    <div class="row">
      <div class="col-md-12">
        <table mat-table [dataSource]="pagedProducts" class="mat-elevation-z8 table table-striped table-hover">
          <ng-container matColumnDef="No">
            <th mat-header-cell *matHeaderCellDef class="header-cell">No</th>
            <td mat-cell *matCellDef="let item; let i = index">{{ (currentPageNo - 1) * pageSize + i + 1 }}</td>
          </ng-container>
  
          <ng-container matColumnDef="Product">
            <th mat-header-cell *matHeaderCellDef class="header-cell">Özellik Adı</th>
            <td mat-cell *matCellDef="let item">{{ item.name }}</td>
          </ng-container>

          <ng-container matColumnDef="Update">
            <th mat-header-cell *matHeaderCellDef class="header-cell">Güncelle</th>
            <td mat-cell *matCellDef="let item">
              <a [routerLink]="['/admin/products/product-update', item.id]">
                <button mat-mini-fab class="edit-button-list">
                  <mat-icon>edit</mat-icon>
                </button>
              </a>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="Delete">
            <th mat-header-cell *matHeaderCellDef class="header-cell">Sil</th>
            <td mat-cell *matCellDef="let item">
              <div class="app-delete-directive-container">
                <app-delete-directive 
                [id]="item.id" 
                [controller]="'products'" 
                [itemName]="item.name" 
                (refresh)="removeProductFromList($event)">
              </app-delete-directive>
            </div>
          </ng-container>
  
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
  
        <mat-paginator [length]="count" [pageSize]="pageSize" [pageIndex]="currentPageNo - 1"
          [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)">
        </mat-paginator>
      </div>
    </div>
  </div>