<div class="login-container">
  <div class="logo">
    <img [src]="logoUrl" alt="Company Logo" class="logo-image" routerLink="/">
    <span class="logo-subtext" translate="yes">For All Industrial Products</span>
  </div>
  <div class="loginform">
    <form #loginForm="ngForm" (ngSubmit)="login(txtUsernameOrEmail.value, txtPassword.value)">
      <div class="title_container">
        <p class="title">Welcome Back</p>
        <p class="subtitle">Don't have an account? <a routerLink="/register">Sign up</a></p>
      </div>
      <br>

      <div class="form-floating">
        <input #txtUsernameOrEmail type="text" 
               class="form-control" 
               id="usernameOrEmail" 
               placeholder=" "
               required>
        <label for="usernameOrEmail">Username or Email</label>
      </div>

      <div class="form-floating">
        <input #txtPassword type="password" 
               class="form-control" 
               id="password" 
               placeholder=" "
               required>
        <label for="password">Password</label>
      </div>

      <div class="forgot-password">
        <a routerLink="/password-reset">Forgot Password?</a>
      </div>

      <button type="submit" class="btn-login" [disabled]="loading">
        <span [class.invisible]="loading">Sign In</span>
        <app-button-spinner *ngIf="loading"></app-button-spinner>
      </button>

      <!-- <div class="separator">
        <hr class="line">
        <span>or</span>
        <hr class="line">
      </div>

      <button type="button" class="btn-social apple">
        <i class="fab fa-apple"></i> Continue with Apple
      </button> -->

      <p class="terms">By signing in, you agree to our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a></p>
    </form>
  </div>
</div>
<app-downbar></app-downbar>