<div class="container mt-5">
    <div class="row mb-4">
      <div class="col-md-12 text-center">
        <h1 class="page-title">Feature List</h1>
        <p class="page-description">Search and manage your features easily</p>
      </div>
    </div>
  
    <div class="row mb-4">
      <div class="col-md-12">
        <form [formGroup]="searchForm" (ngSubmit)="searchFeature()">
          <div class="input-group search-box">
            <input type="text" class="form-control" placeholder="Search feature name..." formControlName="nameSearch"
              (input)="searchFeature()">
            <button class="btn btn-primary" type="submit">Search</button>
          </div>
        </form>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <table mat-table [dataSource]="pagedFeatures" class="mat-elevation-z8 table table-striped table-hover">
          <ng-container matColumnDef="No">
            <th mat-header-cell *matHeaderCellDef class="header-cell">No</th>
            <td mat-cell *matCellDef="let item; let i = index">{{ (currentPageNo - 1) * pageSize + i + 1 }}</td>
          </ng-container>
  
          <ng-container matColumnDef="Feature">
            <th mat-header-cell *matHeaderCellDef class="header-cell">Özellik Adı</th>
            <td mat-cell *matCellDef="let item">{{ item.name }}</td>
          </ng-container>
  
          <ng-container matColumnDef="Delete">
            <th mat-header-cell *matHeaderCellDef class="header-cell">Sil</th>
            <td mat-cell *matCellDef="let item">
              <app-delete-directive [id]="item.id" [controller]="'features'" [itemName]="item.name" (refresh)="searchFeature()">
              </app-delete-directive>
          </ng-container>
  
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
  
        <mat-paginator [length]="count" [pageSize]="pageSize" [pageIndex]="currentPageNo - 1"
          [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)">
        </mat-paginator>
      </div>
    </div>
  </div>