<div class="password-reset-container">
    <div class="reset-form">
        <h2>{{ 'passwordReset.title' | translate }}</h2>
        
        <div *ngIf="!isEmailSent">
            <p class="instruction">
                {{ 'passwordReset.instructions' | translate }}
            </p>
 
            <div class="form-floating">
                <input 
                    type="email" 
                    class="form-control" 
                    id="email" 
                    [placeholder]="'auth.emailPlaceholder' | translate"
                    [(ngModel)]="email"
                    [disabled]="!canResend">
                <label for="email">{{ 'auth.emailAddress' | translate }}</label>
            </div>
 
            <button 
                class="reset-button" 
                (click)="sendPasswordResetEmail()"
                [disabled]="!canResend">
                {{ 'passwordReset.sendResetLink' | translate }}
            </button>
        </div>
 
        <div *ngIf="isEmailSent" class="sent-confirmation">
            <div class="success-message">
                <i class="fas fa-envelope-circle-check"></i>
                <h3>{{ 'passwordReset.checkEmail' | translate }}</h3>
                <p>{{ 'passwordReset.emailSentMessage' | translate }}</p>
            </div>
 
            <button 
                class="reset-button" 
                (click)="sendPasswordResetEmail()"
                [disabled]="!canResend">
                {{ 'passwordReset.resendInstructions' | translate }}
                <span *ngIf="!canResend" class="resend-timer">({{ resendTimer }}s)</span>
            </button>
        </div>
 
        <a routerLink="/login" class="back-to-login">
            <i class="bi bi-arrow-left"></i>
            {{ 'auth.backToLogin' | translate }}
        </a>
    </div>
 </div>