<mat-accordion class="sidebar-accordion">
  <mat-nav-list>
    <a mat-list-item routerLink="/admin/dashboard" class="nav-item" style="padding-left: 20px;">
      <mat-icon class="child-icon" style="color: white;">dashboard</mat-icon>
      <span class="child-title" style="color: white;">Dashboard</span>
    </a>
  </mat-nav-list>
  <mat-expansion-panel *ngFor="let menu of sidebarItems">
    <mat-expansion-panel-header>
      <mat-panel-title class="panel-title">
        <mat-icon class="menu-icon">{{ menu.icon }}</mat-icon>
        <span class="menu-title">{{ menu.title }}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item *ngFor="let child of menu.children" [routerLink]="child.path" class="nav-item">
        <mat-icon class="child-icon">{{ child.icon }}</mat-icon>
        <span class="child-title">{{ child.title }}</span>
      </a>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>

