<aside class="sidebar" [@slideInOut]="isExpanded ? 'open' : 'closed'">
  <header>
    <button type="button" class="sidebar-burger" (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <img [src]="logoUrl" *ngIf="isExpanded" />
  </header>
  <ul>
    <li *ngFor="let item of sidebarItems">
      <button type="button" [routerLink]="!item.children && item.title !== 'Log Out' ? item.path : null"
        routerLinkActive="active" [class.active]="isActive(item)" (click)="handleItemClick(item, $event)">
        <mat-icon>{{item.icon}}</mat-icon>
        <p *ngIf="isExpanded">{{item.title}}</p>
        <mat-icon *ngIf="item.children && isExpanded">
          {{isActive(item) ? 'expand_less' : 'expand_more'}}
        </mat-icon>
      </button>
      <div class="sub-menu" *ngIf="item.children" [class.expanded]="isActive(item)">
        <ul>
          <li *ngFor="let child of item.children">
            <a [routerLink]="child.path" routerLinkActive="active">
              <mat-icon>{{child.icon}}</mat-icon>
              <p>{{child.title}}</p>
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</aside>