.product-list {
    &.list-view {
      .row > div {
        width: 100%;
       max-width: 100%;
        flex: 0 0 100%;
      }
    }
  }
  
  @media (max-width: 768px) {
    .product-list {
      .row > div {
        width: 50%;
        max-width: 50%;
        flex: 0 0 50%;
      }
    }
  }
  
  @media (max-width: 576px) {
    .product-list {
      .row > div {
        width: 100%;
        max-width: 50%;
        flex: 0 0 100%;
      }
    }
  }
  .position-relative {
    position: relative;
    min-height: 400px; // spinner'ın görünmesi için minimum yükseklik
  }
  
  .product-list {
    width: 100%;
    min-height: 200px;
  }
  .opacity-25 {
    opacity: 0.25;
  }