.feature-card {
  max-width: 800px;
  margin: 20px auto;
}

.feature-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
}

.full-width {
  width: 100%;
}

.category-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button-group {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tree-container {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.category-tree {
  width: 100%;
}

.selected-categories {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chip-list {
  height: -webkit-fill-available;
  max-height: 253px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }
}

.mdc-evolution-chip-set {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}