<div class="product-create-container">
  <h6>Ürün Ekleme Paneli</h6>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Ürün Adı</mat-label>
      <input matInput formControlName="name" placeholder="Ürün adını girin">
      <mat-error *ngIf="productForm.get('name').hasError('required')">
        Ürün adı zorunludur
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Kategori</mat-label>
      <mat-select formControlName="categoryId">
        <mat-option>
          <ngx-mat-select-search formControlName="categorySearch" placeholderLabel="Kategori ara" noEntriesFoundLabel="Kategori bulunamadı"></ngx-mat-select-search>
        </mat-option>
        
        <mat-tree [dataSource]="categorydataSource" [treeControl]="treeControl">
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
            <button mat-icon-button disabled></button>
            <mat-option [value]="node.id" (click)="onCategorySelected(node)">
              {{node.name}}
            </mat-option>
          </mat-tree-node>
          <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
            <button mat-icon-button
                    [attr.aria-label]="'Toggle ' + node.name"
                    (click)="treeControl.toggle(node)">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <mat-option [value]="node.id" (click)="onCategorySelected(node)">
              {{node.name}}
            </mat-option>
          </mat-tree-node>
        </mat-tree>
      </mat-select>
      <mat-error *ngIf="productForm.get('categoryId').hasError('required')">
        Kategori seçimi zorunludur
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Marka</mat-label>
      <input matInput
             type="text"
             formControlName="brandSearch"
             [matAutocomplete]="auto"
             placeholder="Marka ara">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onBrandSelected($event.option.value)">
        <mat-option *ngFor="let brand of filteredBrands" [value]="brand">
          {{brand.name}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="productForm.get('brandId').hasError('required')">
        Marka seçimi zorunludur
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Varyant Grup ID</mat-label>
      <input matInput formControlName="varyantGroupID" placeholder="Varyant Grup ID girin">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Vergi Oranı</mat-label>
      <input matInput type="number" formControlName="tax" placeholder="Vergi oranı girin">
      <mat-error *ngIf="productForm.get('tax').hasError('required') || productForm.get('tax').hasError('min')">
        Geçerli bir vergi oranı girin
      </mat-error>
    </mat-form-field>


    <div class="full-width">
      <label>Açıklama</label>
      <angular-editor formControlName="description" [config]="editorConfig">
      </angular-editor>
    </div>

    <div formArrayName="features" class="features-section full-width">
      <h6>Özellikler</h6>
      
      <div *ngFor="let featureForm of featureFormArray.controls; let i = index" [formGroupName]="i" class="feature-row">
        <mat-form-field appearance="outline">
          <mat-label>Özellik</mat-label>
          <mat-select formControlName="featureId">
            <mat-option *ngFor="let feature of features" [value]="feature.id">
              {{feature.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Değerler</mat-label>
          <mat-select formControlName="selectedValues" multiple>
            <mat-option *ngFor="let value of featureValues[featureForm.get('featureId').value]" [value]="value.id">
              {{value.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button color="warn" type="button" (click)="removeFeature(i)">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </div>

      <button mat-stroked-button color="primary" type="button" (click)="addFeature()">
        <mat-icon>add</mat-icon> Özellik Ekle
      </button>
      
    </div>

    <div class="full-width">
      <button mat-stroked-button color="primary" type="button" 
              (click)="generateVariants()" 
              [disabled]="!canGenerateVariants">
        <mat-icon>autorenew</mat-icon> Varyantları Oluştur
      </button>
    </div>

    <div *ngIf="variantsCreated" class="variants-table full-width">
      
      <div class="full-width">
        <button mat-stroked-button color="warn" type="button" (click)="removeSelectedVariants()">
          Seçili Varyantları Sil
        </button>
      </div>
      
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="toggleAllSelection()"
                          [checked]="allSelected">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let variant">
            <mat-checkbox [formControl]="variant.get('selected')"
                          (change)="updateAllSelected()">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="images">
          <th mat-header-cell *matHeaderCellDef> Fotoğraflar </th>
          <td mat-cell *matCellDef="let variant; let i = index">
            <div class="image-carousel">
              <mat-card class="carousel-card">
                <mat-card-content>
                  <div *ngIf="variant.get('images').value.length > 0; else noImages" class="carousel-container">
                    <img [src]="variant.get('images').value[currentImageIndex[variantIds[i]]] | safeUrl" 
                         [alt]="'Ürün ' + (currentImageIndex[variant.get('sku').value] + 1)" 
                         class="carousel-image">
                    <div class="carousel-controls">
                      <button mat-icon-button type="button" (click)="prevImage(variant, $event,i)" [disabled]="currentImageIndex[variantIds[i]] === 0">
                        <mat-icon>chevron_left</mat-icon>
                      </button>
                      <span class="image-counter">
                        {{ currentImageIndex[variantIds[i]] + 1 }} / {{ variant.get('images').value.length }}
                      </span>
                      <button mat-icon-button type="button" (click)="nextImage(variant, $event, i)" [disabled]="currentImageIndex[variantIds[i]] === variant.get('images').value.length - 1">
                        <mat-icon>chevron_right</mat-icon>
                      </button>
                    </div>
                  </div>
                  <ng-template #noImages>
                    <div class="no-images">
                      <mat-icon>image</mat-icon>
                      <span>Fotoğraf Yok</span>
                    </div>
                  </ng-template>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button type="button" color="primary" (click)="openImageUploadDialog(variant, $event)">
                    <mat-icon>add_photo_alternate</mat-icon> 
                  </button>
                  <button mat-button type="button" color="warn" (click)="removeCurrentImage(variant, $event,i)" [disabled]="variant.get('images').value.length === 0">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-card-actions>
              </mat-card>
            </div>
          </td>
        </ng-container>
    
        <ng-container matColumnDef="combination">
          <th mat-header-cell *matHeaderCellDef> Varyantlar </th>
          <td mat-cell *matCellDef="let variant"> {{variant.get('combination').value}} </td>
        </ng-container>

    
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Fiyat </th>
          <td mat-cell *matCellDef="let variant; let i = index">
            <mat-form-field appearance="outline">
              <input matInput type="number" [formControl]="variant.get('price')"
                     (input)="updateSelectedVariants($event, 'price', i)">
            </mat-form-field>
          </td>
        </ng-container>
        
        <ng-container matColumnDef="stock">
          <th mat-header-cell *matHeaderCellDef> Stok </th>
          <td mat-cell *matCellDef="let variant; let i = index">
            <mat-form-field appearance="outline">
              <input matInput type="number" [formControl]="variant.get('stock')"
                     (input)="updateSelectedVariants($event, 'stock', i)">
            </mat-form-field>
          </td>
        </ng-container>
        
        <ng-container matColumnDef="sku">
          <th mat-header-cell *matHeaderCellDef> SKU </th>
          <td mat-cell *matCellDef="let variant; let i = index">
            <mat-form-field appearance="outline">
              <input matInput [formControl]="variant.get('sku')"
                     (input)="updateSelectedVariants($event, 'sku', i)">
            </mat-form-field>
          </td>
        </ng-container>
    
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> İşlemler </th>
          <td mat-cell *matCellDef="let variant; let i = index">
            <button mat-icon-button color="warn" type="button" (click)="removeVariant(i)">
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="variantColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: variantColumns;"></tr>
      </table>
    </div>
  
    <button mat-raised-button color="primary" type="submit" [disabled]="!productForm.valid || !variantsCreated">
      <mat-icon>save</mat-icon> {{ buttonText }}
    </button>
  </form>
  </div>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">